Importamos los modulos de creacion de los archivos CSV a partir de las fuentes propuestas

In [8]:
from csvData import save_data_to_csv
# museos: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_4207def0-2ff7-41d5-9095-d42ae8207a5d
save_data_to_csv('museos', 
    'https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_4207def0-2ff7-41d5-9095-d42ae8207a5d')

# salas_cine: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_392ce1a8-ef11-4776-b280-6f1c7fae16ae
save_data_to_csv("salas_cine", 
'https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_392ce1a8-ef11-4776-b280-6f1c7fae16ae')

# bibliotecas: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_01c6c048-dbeb-44e0-8efa-6944f73715d7
save_data_to_csv('bibliotecas','https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_01c6c048-dbeb-44e0-8efa-6944f73715d7')

Creamos los DataFrames a partir de los .csv guardados

In [13]:

import datetime
## read csv to dataframe:
day = datetime.datetime.now().day
month = datetime.datetime.now().month
year = datetime.datetime.now().year
df_museos = csv_to_dataframe('museos', day, month, year, show_info=True)

Columns of: museos-8-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   latitud                     100 non-null    Float64
 1   direccion                   100 non-null    string
 2   anio_de_inauguracion        82 non-null     Int64
 3   provincia                   100 non-null    string
 4   web                         6 non-null      string
 5   espacio_cultural_id         100 non-null    Int64
 6   fuente                      100 non-null    string
 7   observaciones               16 non-null     string
 8   provincia_id                100 non-null    Int64
 9   descripcion_de_patrimonio   99 non-null     string
 10  localidad_id                100 non-null    Int64
 11  codigo_postal               100 non-null    string
 12  juridisccion                97 non-null     string
 13  anio_de_creacion            75 non-null     Int64
 14  mail                        25 non-null     string
 15  localidad                   100 non-null    string
 16  nombre                      100 non-null    string
 17  telefono                    96 non-null     Int64
 18  codigo_indicativo_telefono  96 non-null     Int64
 19  longitud                    100 non-null    Float64
 20  categoria                   100 non-null    string
dtypes: Float64(2), Int64(7), string(12)
memory usage: 17.4 KB
None

In [15]:
df_salas_cine = csv_to_dataframe('salas_cine', day, month, year, show_head=True, show_info=True)

First data of: salas_cine-8-2-2022.csv

                                                 Web       tipo_gestion Piso  \
0                    http://www.cinemacenter.com.ar/  Privado comercial  s/d
1                                                s/d  Privado comercial  s/d
2       http://resistencia.loscinesdelacosta.com.ar/  Privado comercial  s/d
3  http://www.culturachubut.gob.ar/…/convo-evita-...  Público municipal  s/d
4   https://www.facebook.com/CineFantasioBellaVista/  Privado comercial  s/d

    Provincia   TipoLatitudLongitud                       Nombre  \
0   Catamarca  Localización precisa                 Cinemacenter
1   Catamarca  Localización precisa  Centro Cultural San Agustín
2       Chaco  Localización precisa        Los Cines De La Costa
3      Chubut  Localización precisa    Deborah Jones De Williams
4  Corrientes  Localización precisa                     Fantasio

                                      Mail   Cod_Loc  Observaciones  \
0                                      s/d  10049030           <NA>
1                                      s/d  10091150           <NA>
2  administracion@loscinesdelacosta.com.ar  22140060           <NA>
3             culturasarmiento@hotmail.com  26091020           <NA>
4             nuevocineteatrorex@gmail.com  18007010           <NA>

   Departamento  ... Información adicional    Latitud  Teléfono  \
0       Capital  ...                  <NA> -28.464737       s/d
1   Santa Maria  ...                  <NA> -26.693859    421511
2  San Fernando  ...                  <NA> -27.430995    472200
3     Sarmiento  ...                  <NA> -45.594374   4897169
4   Bella Vista  ...                  <NA> -28.508494       s/d

          Fuente año_actualizacion IdProvincia  cod_area  Pantallas  \
0  INCAA / SInCA              2018          10       s/d          5
1  INCAA / SInCA              2018          10      3838          1
2  INCAA / SInCA              2018          22      3794          5
3  INCAA / SInCA              2018          26       297          1
4  INCAA / SInCA              2018          18       s/d          1

   IdDepartamento   categoria
0           10049  salas_cine
1           10091  salas_cine
2           22140  salas_cine
3           26091  salas_cine
4           18007  salas_cine

[5 rows x 27 columns]


Columns of: salas_cine-8-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Web                    100 non-null    string
 1   tipo_gestion           100 non-null    string
 2   Piso                   100 non-null    string
 3   Provincia              100 non-null    string
 4   TipoLatitudLongitud    100 non-null    string
 5   Nombre                 100 non-null    string
 6   Mail                   100 non-null    string
 7   Cod_Loc                100 non-null    Int64
 8   Observaciones          0 non-null      Int64
 9   Departamento           100 non-null    string
 10  Categoría              100 non-null    string
 11  Longitud               100 non-null    Float64
 12  Butacas                100 non-null    Int64
 13  espacio_INCAA          14 non-null     string
 14  Dirección              100 non-null    string
 15  Localidad              100 non-null    string
 16  CP                     100 non-null    Int64
 17  Información adicional  0 non-null      Int64
 18  Latitud                100 non-null    Float64
 19  Teléfono               100 non-null    string
 20  Fuente                 100 non-null    string
 21  año_actualizacion      100 non-null    Int64
 22  IdProvincia            100 non-null    Int64
 23  cod_area               100 non-null    string
 24  Pantallas              100 non-null    Int64
 25  IdDepartamento         100 non-null    Int64
 26  categoria              100 non-null    string
dtypes: Float64(2), Int64(9), string(16)
memory usage: 22.3 KB
None

In [14]:
df_bibliotecas = csv_to_dataframe('bibliotecas', day, month, year, show_info=True)

Columns of: bibliotecas-8-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Web                    0 non-null      Int64
 1   Piso                   0 non-null      Int64
 2   Provincia              100 non-null    string
 3   Año_actualizacion      100 non-null    Int64
 4   Cod_tel                100 non-null    string
 5   TipoLatitudLongitud    100 non-null    string
 6   Subcategoria           0 non-null      Int64
 7   Observacion            0 non-null      Int64
 8   Mail                   100 non-null    string
 9   Cod_Loc                100 non-null    Int64
 10  Tipo_gestion           100 non-null    string
 11  Departamento           100 non-null    string
 12  año_inicio             100 non-null    Int64
 13  Categoría              100 non-null    string
 14  Longitud               100 non-null    Float64
 15  Localidad              100 non-null    string
 16  CP                     100 non-null    string
 17  Información adicional  0 non-null      Int64
 18  Latitud                100 non-null    Float64
 19  Teléfono               100 non-null    string
 20  Fuente                 100 non-null    string
 21  IdProvincia            100 non-null    Int64
 22  Nombre                 100 non-null    string
 23  Domicilio              100 non-null    string
 24  IdDepartamento         100 non-null    Int64
 25  categoria              100 non-null    string
dtypes: Float64(2), Int64(10), string(14)
memory usage: 21.6 KB
None

Limpieza de datos: eliminar columnas todas vacias

In [18]:
df_bibliotecas.dropna(how='all', axis=1, inplace=True)
df_bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Provincia            100 non-null    string
 1   Año_actualizacion    100 non-null    Int64
 2   Cod_tel              100 non-null    string
 3   TipoLatitudLongitud  100 non-null    string
 4   Mail                 100 non-null    string
 5   Cod_Loc              100 non-null    Int64
 6   Tipo_gestion         100 non-null    string
 7   Departamento         100 non-null    string
 8   año_inicio           100 non-null    Int64
 9   Categoría            100 non-null    string
 10  Longitud             100 non-null    Float64
 11  Localidad            100 non-null    string
 12  CP                   100 non-null    string
 13  Latitud              100 non-null    Float64
 14  Teléfono             100 non-null    string
 15  Fuente               100 non-null    string
 16  IdProvincia          100 non-null    Int64
 17  Nombre               100 non-null    string
 18  Domicilio            100 non-null    string
 19  IdDepartamento       100 non-null    Int64
 20  categoria            100 non-null    string
dtypes: Float64(2), Int64(5), string(14)
memory usage: 17.2 KB

In [19]:
df_salas_cine.dropna(how='all', axis=1, inplace=True)
df_salas_cine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Web                  100 non-null    string
 1   tipo_gestion         100 non-null    string
 2   Piso                 100 non-null    string
 3   Provincia            100 non-null    string
 4   TipoLatitudLongitud  100 non-null    string
 5   Nombre               100 non-null    string
 6   Mail                 100 non-null    string
 7   Cod_Loc              100 non-null    Int64
 8   Departamento         100 non-null    string
 9   Categoría            100 non-null    string
 10  Longitud             100 non-null    Float64
 11  Butacas              100 non-null    Int64
 12  espacio_INCAA        14 non-null     string
 13  Dirección            100 non-null    string
 14  Localidad            100 non-null    string
 15  CP                   100 non-null    Int64
 16  Latitud              100 non-null    Float64
 17  Teléfono             100 non-null    string
 18  Fuente               100 non-null    string
 19  año_actualizacion    100 non-null    Int64
 20  IdProvincia          100 non-null    Int64
 21  cod_area             100 non-null    string
 22  Pantallas            100 non-null    Int64
 23  IdDepartamento       100 non-null    Int64
 24  categoria            100 non-null    string
dtypes: Float64(2), Int64(7), string(16)
memory usage: 20.5 KB